
.container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align:center;
}

.thumbnail {
    max-width:100px; 
    max-height:100px;
}

.detailImage {
    max-width:300px; 
    max-height:300px;
}
